.movie-card {
  position: relative;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 160%;
  border-radius: 12px;
  margin-bottom: 1rem;
  overflow: hidden;
}

.movie-card .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgb(0 0 0 / 60%);
  height: 100%;
  transition: opacity 0.5s;
  opacity: 0;
}
.movie-card:hover .overlay {
  opacity: 1;
}
.movie-card i {
  position: absolute;
  z-index: 100;
  padding: 15px 28px;
  color: var(--white);
  background-color: var(--main-color);
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s ;
}
.movie-card:hover i {
  opacity: 1;
}
.movie-card .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--black);
  opacity: 0;
  transition: opacity 0.5s ease;
  border-radius: 12px;
}
h3 {
  color: var(--white);
}